nav[role="pages"] {
  text-align: left;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    a {
      opacity: .75;
      font-family: JetBrains Mono, serif;
      font-variant: var(--h2-variant);
      font-weight: var(--h2-weight);
    }
  }
}
