div.nav-break {
  display: none;
}

nav[role="pages"] {
  text-align: left;
  font-family: var(--bodyFont);

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;

    li.divider {
      border-right: dotted 3px rgb(var(--ctp-accent));
    }
  }
}

@media (max-width: 800px) {
  div.nav-break {
    display: unset;
    height: 0;
    flex-basis: 100%;
  }

  nav[role="pages"] {
    justify-content: unset;
    margin: 1rem 0 0.5rem;
  }
}
