@use "./base.scss";
@use "./themes";

:root[saved-theme="light"],
:root[saved-theme="dark"] {
  --ctp-accent: var(--ctp-mauve);
}

h1 {
  color: rgb(var(--ctp-accent));
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--ctp-subtext0));
}

.breadcrumb-element>a,
.breadcrumb-element>p {
  color: rgb(var(--ctp-peach));
}

ul.tags {
  li:first-child {
    a {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

p.content-meta {

  span.in-progress,
  span.incomplete {
    color: rgb(var(--ctp-maroon));
  }

  span.complete {
    color: rgb(var(--ctp-green));
  }
}

body[data-slug="index"] {
  div.page-header {
    display: none;
  }

  article {
    margin-top: 6rem;
  }
}

.recent-notes {
  a.title h3:hover {
    color: var(--link-color-hover) !important;
  }
}

@media not (min-width: 1200px) {
  .page>#quartz-body .sidebar.right {
    flex-direction: column;
  }

  .page>#quartz-body {
    padding: 0 0;
  }

  .page>#quartz-body>div.center {
    box-sizing: border-box;
    padding: 0 1rem;
  }
}

@media (max-width: 800px) {
  .page {
    max-width: 800px;
  }

  body[data-slug="index"] article {
    margin-top: 0 !important;
  }

  .page>#quartz-body .sidebar.left:has(.explorer),
  .explorer #explorer-content {
    background-color: rgb(var(--ctp-surface0));
    padding-bottom: 0.5rem;
  }
}

// From simple tag list, not sure how to import
.tags {
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 0.4rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.section-li>.section>.tags {
  justify-content: flex-end;
}

.tags>li {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  overflow-wrap: normal;
}

a.internal.tag-link {
  border-radius: 8px;
  background-color: var(--red);
  padding: 0.2rem 0.4rem;
  margin: 0 0.1rem;
}

body[data-has-right='false'] div#quartz-body {
  grid-template:
    "grid-sidebar-left grid-header"
    "grid-sidebar-left grid-center"
    "grid-sidebar-left grid-footer"
    / 320px 1fr;

  .center {
    box-sizing: border-box;
    padding-right: 2rem;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  body[data-has-right='false'] .page>#quartz-body {
    grid-template:
      "grid-sidebar-left grid-header"
      "grid-sidebar-left grid-center"
      "grid-sidebar-left grid-sidebar-right"
      "grid-sidebar-left grid-footer"
      / 320px auto;
    gap: 5px;
  }
}

@media (max-width: 800px) {
  body[data-has-right='false'] .page>#quartz-body {
    grid-template:
      "grid-sidebar-left"
      "grid-header"
      "grid-center"
      "grid-footer"
      / auto;

    gap: 5px;
  }
}
