@use "./base.scss";
@use "./themes";


:root[saved-theme="light"],
:root[saved-theme="dark"] {
  --ctp-accent: var(--ctp-mauve);
}

h1 {
  color: rgb(var(--ctp-accent));
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--ctp-subtext0));
}

.breadcrumb-element>a,
.breadcrumb-element>p {
  color: rgb(var(--ctp-peach));
}

ul.tags {
  li:first-child {
    a {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

p.content-meta {
  span.in-progress,
  span.incomplete {
    color: rgb(var(--ctp-maroon));
  }

  span.complete {
    color: rgb(var(--ctp-green));
  }
}

body[data-slug="index"] {
  div.page-header {
    display: none;
  }

  article {
    margin-top: 6rem;
  }
}

@media not (min-width:1200px) {
  .page>#quartz-body .sidebar.right {
    flex-direction: column;
  }

  .page>#quartz-body {
    padding: 0 0;
  }

  .page>#quartz-body>div.center {
    box-sizing: border-box;
    padding: 0 1rem;
  }
}

@media (max-width: 800px) {
  .page {
    max-width: 800px;
  }

  body[data-slug="index"] article {
    margin-top: 0 !important;
  }

  .page>#quartz-body .sidebar.left:has(.explorer),
  .explorer #explorer-content {
    background-color: rgb(var(--ctp-surface0));
    padding-bottom: 0.5rem;
  }
}
